:root {
    --white: #FAFAFA;
    --black: #373737;
}

* {
    font-family: "system-ui", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-size: 0.8rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
    font-size: 0.8rem;
    height: 75px;

}

.nav-item {
    min-width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 1000px;
    padding: 7px 14px;
}

.nav-item:hover {
    background-color: #eaeaea;
}

.nav-logo {
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
}

.nav-logo > path {
    fill: var(--black);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
}

.profile-pic {
    width: 225px;
    height: 225px;
    aspect-ratio: 1 / 1;
}

.bio {
    max-width: 600px;
    text-align: center;
    line-height: 150%;
}
